.grid-container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
  }
  
  .promo-banner {
    background-color: #ff6347;
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .promo-text {
    font-size: 2em;
    font-family: 'Permanent Marker', cursive;
  }
  
  .grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .subgrid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .subb {
    flex: 1 1 calc(25% - 20px);
    min-width: 250px;
    max-width: 300px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .subb:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .subimg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  